<html>
    <head>
        <title>
            若邻
        </title>
        <link href="https://cdn.bootcss.com/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet">
        <link href="/static/css/global.css" rel="stylesheet">
    </head>
    <body style="width: 100%;">
        <div class="ui grid">
            <div class="sixteen wide column" style="position: fixed; top: 0; right: 0;">
                <div class="main-top">
                    <div id="menu" class="ui grid">
                        <div class="four wide column"></div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="title">首页</div>
                                <div class="description">HOME</div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="title">诗集</div>
                                <div class="description">LIST</div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="title">发现</div>
                                <div class="description">DISCOVRY</div>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="item">
                                <div class="title">关于</div>
                                <div class="description">ABOUT</div>
                            </div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="menu">
                    <div class="category">
                        {% for category, tags in categorys.items %}
                        <h3 class="ui header">{{ category.name }}</h3>
                        <div class="ui ten column grid">
                            {% for tag in tags %}
                            <div class="column uu"><div class="tag">{{ tag }}</div></div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% for category, tags in categorys.items %}
                        <h3 class="ui header">{{ category.name }}</h3>
                        <div class="ui ten column grid">
                            {% for tag in tags %}
                            <div class="column uu"><div class="tag">{{ tag }}</div></div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="four wide column" style="padding: 1em; position: fixed; right: 0; top: 0;">
                <table style="height: 100%;">
                    <tr>
                        <td>
                        <div class="today-wrapper">
                            <div class="top">
                            </div>
                            <div class="body uu">
                                流水落花春去也，<br/>
                                天上人间。<br/>
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                        </td>
                    </tr>
                </table>
            <div>
    </body>
</html>
