{% extends "base.html" %}
{% block title %}{{ tag.name }} | 茱萸{% endblock %}
{% block content %}
        <div class="ui stackable grid" style="padding: 0;margin: 0!important;">
            <div class="four wide column">
                <div class="box-wrapper">
                    <div class="top"></div>
                    <div class="middle uu kaiti">{{ tag.name }}</div>
                    <div class="bottom"></div>
                </div>

                <table id="tag-wrapper">
                    <tr>
                        <td align="center">
                            <div class="middle kaiti">{{ tag.name }}</div>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div id="poetry-list" class="twelve wide column poetry-wrapper">
                    <div class="ui container">
                    {% for poetry in poetrys %}
                    <div style="width: 100%;">
                        <div class="today-wrapper">
                            <div class="body kaiti">
                                <i style="float: right;margin-top: -1em; margin-right: -1em;cursor: pointer;" class="grey text height icon"></i>
                                <div class="content">{{ poetry.content|linebreaks }}</div>
                                
                                <div class="meta">
                                        <div class="dynasty">{{ poetry.dynasty }}</div>
                                    <span class="title">{{ poetry.title }} · {{ poetry.author }}</span>
                                </div>
    
                                <div class="tags">
                                    {% for tag in poetry.tags.all %}
                                    <a href="/list/{{ tag.name }}/"><div class="tag">{{ tag.name }}</div></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
<script>

    $('.grey.text.icon').bind("click", function( e ) {
        console.log(e)
        var parent = $( e.target ).parents()[0]
        $(parent).find('.content').toggleClass('uu');
        $(parent).find('.content').toggleClass('forceleft');
        $(e.target).toggleClass('height');
        $(e.target).toggleClass('width');
        $(e.target).toggleClass('green');
        $(e.target).toggleClass('grey');
    });
</script>
{% endblock %}
