{% extends "web/base.html" %}
{% block title %}登录 | 茱萸{% endblock %}
{% block head %}
<style>
#left {
    background: #fff;
    border-top: 1px solid #f3f3f4;
}

#left .login-wrapper {
    padding: 5em 1em;
    text-align: center;
    height: 100%;
}

#left .login-wrapper img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

#left .login-wrapper .desc {
    color: #ccc;
    font-size: 20px;
    padding: 2em;
}

#left .login-wrapper .mini {
    padding: 0em 10em;
}

#left .login-wrapper .form .error.message {
    background: rgba(0, 0, 0, 0);
}

#left .login-wrapper .input {
    margin-bottom: 2em;
}

.left .today-image-wrapper .grid .six {
    font-size: 30px;
    color: #fff;
}

.left .today-image-wrapper .bottom {
    height: auto;
    padding: 1em;
}

.left .bottom .grid {
    height: auto;
}

.left .bottom .today-date {
    text-align: center;
    padding: .5em 1em;
    border: 1px solid #ccc;
    color: #ccc;
}

.left .bottom .today-date:first-child {
    border-bottom: 0;
}

@media only screen and (max-width: 767px) {
    #m #c>.six {
        padding: 0px!important;
    }

    #left .login-wrapper .login {
        padding: 1em 5em;
    }
    
    #m #c>.ten {
        display: none;
    }

    #left .login-wrapper .mini {
        padding: 0em 5em;
    }
}

</style>
{% endblock %}
{% block left %}
    <div id="left" class="left">
        <div class="login-wrapper">
            <img src="http://x.shici.store/upload/cover/2018/03/19/timg_3.jpeg" />
            
            <div class="kaiti desc">登入茱萸</div>
            
            <form class="ui form" method="post" action="/login/" style="margin-bottom: 0;">
                
                <div class="ui error message"></div>
                {% csrf_token %}
                <div class="field mini">
                <div class="ui transparent fluid left icon input">
                    <input class="kaiti" name="username" type="text" placeholder="用户名或邮箱">
                    <i class="user icon"></i>
                </div>
                </div>
                <div class="field mini">
                <div class="ui transparent fluid left icon input">
                    <input class="kaiti" name="password" type="password" placeholder="密码">
                    <i class="lock icon"></i>
                </div>
                </div>
                
                <div class="mini">
                <button type="submit" class="ui fluid orange button">登录</button>
                </div>
            </form>
            <div class="mini" style="padding-top: 1em;">
                <a href="/register/"><button class="ui fluid orange basic button">注册</button></a>
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="ui {{ message.tags }} message"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    <div class="right-BOX kaiti" style="background: rgba(0, 0, 0, 0.25); font-size: 3em; color: #fff; padding: 1em;">
        <table style="height: 100%; width: 100%;"><tr><td valign="middle" align="center" style="font-size: 3em; color: #fff;">遥知兄弟登高处，遍插茱萸少一人。</td></tr></table>
    </div>
{% endblock %}

{% block script %}
<script src="https://cdn.bootcss.com/semantic-ui/2.3.0/components/form.min.js"></script>
<script>
$('.ui.form')
  .form({
    fields: {
      username: {
        identifier: 'username',
        rules: [
          {
            type   : 'empty',
            prompt : '用户名不能为空'
          }
        ]
      },
      password: {
        identifier: 'password',
        rules: [
          {
            type   : 'empty',
            prompt : '请输入密码'
          }
        ]
      }
    }
  })
;
</script>
{% endblock %}
